@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  /* font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: "Source Han Sans TC", "Noto Sans", "微軟正黑體", Helvetica, Arial, sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  
  color: rgb(55,53,54);
  font-size: 16px;

  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: rgb(0,191,198);
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
}
.page_wrapper {
   background: white;
}
.wrapper {
  
  margin-left: auto;
  margin-right: auto;
  
  padding:8px;
  box-sizing: border-box;
  position: relative;
  /* background: rgb(236,236,236); */
  /* background: #efedeb; */

}

.nav_item_logo {
  width: 120px;
}
.nav_item {
  height: 50px;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding: 13px 10px;
  text-align: center;
  font-weight: 600;
  float: left;
}
.nav_item:hover {
  background: rgba(255,255,255,0.6);
}
.nav_item_active {
  border-bottom: 5px solid rgb(218,213,206);
}
.nav_info {
  position: absolute;
  right: 30px;
  top: 13px;
  z-index: 10;
  font-size: 14px;
}
.nav_info_btn {
  background: rgb(218,213,206);
  display: inline-block;
  padding: 2px 20px;
  cursor: pointer;
}
.nav_info_box {
  position: absolute;
  top: 35px;
  right: 0px;
  width: 320px;
  height: 200px;
  border: 2px solid rgb(218,213,206);
  background: white;
  padding: 5px;
}
.nav_info_remove {
  position: absolute;
  right: 0px;
  top: 0px;
  background: rgb(218,213,206);
  color: white;
  padding: 0px 5px;
  vertical-align: top;
  cursor: pointer;
}
.nav_info_list {
  padding: 4px;
}
.nav_info_item {
  width: 76px;
  display: inline-block;
}
.nav_info_item_candidate {
  text-align: center;
  width: 36px;
  font-size: 12px;
  display: inline-block;
}
.nav_info_item_text {
  display: inline-block;
  width: 210px;
}
@media screen and (max-width: 500px) {
  .nav_info {
    top: 50px;
    right: 0px;
    padding: 5px;
  }
}

#navigation {
  height: 50px;
  background: #F3F2EF;
  
}
#content, #content_tc {
	margin-top: 90px;
  padding-bottom: 50px;
  /* background: rgb(239,237,235); */
}
#footer {
  width: 100%;
  height: 140px;
  background: #F3F2EF;
  font-size: 14px;
  text-align: center;

}
.l_center {
  text-align: center;
}
/* ----------------------------------
     city
   ---------------------------------- */

.q_item {
  box-shadow: 0 1px 2px rgba(0,0,0,.2); 
  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
  
  width: 100%;
  position: relative;

  background: white;
}
.q_item_active {
  margin: 10px auto;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.q_item_inner {
  min-height: 40px;
  
  width: 100%;
  padding: 10px 0px;
  box-shadow: 0 1px 0px rgb(230,230,230);

  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
}
.q_item_title_icon, .q_item_title_inner_icon {
  opacity: 0;
}
.q_item:hover .q_item_title_icon, .q_item_title_block:hover .q_item_title_inner_icon, .q_item_title_block_tc:hover .q_item_title_inner_icon {
  opacity: 1; 
}

.q_item_inner:hover {
  /* background: rgb(220,220,220); */
}
.q_item_inner_active {
  background: rgb(230,230,230);
}
.q_item_ngo {
  padding: 10px;
  min-height: 150px;
}
.q_item_ngo_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.c_img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 8px;
}
.q_item_title_block, .q_item_title_block_tc {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.q_item_title {
  cursor: pointer;
  padding-left: 10px;
}
.q_item_title_votes {
  color: rgb(150,150,150);
}
.q_item_title_topic {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.q_item_title_topic_name {
  width: 200px;
  display: inline-block;

}
.q_item_title_topic_count {
  font-size: 16px;
  border-radius: 50%;
  display: inline-block;
  padding: 4px;
  width: 30px;
  height: 30px;
  text-align: right;
}
.q_item_title_active {
  font-weight: 700;
  font-size: 22px; 
}
.q_label_item_fix {/* when its' not scrolling */
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
 background: white;
}
.q_label_item_nav {/* when scrolling */
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgb(55,53,54);
  box-sizing: border-box;
  pointer-events: none;
}
.q_label_item_title {
  padding-top: 25px;
  padding-left: 0px;
  font-weight: 700;
  font-size: 22px; 
}
.q_item_candidate_block, .q_item_candidate_block_tc{
  width: 38%;
  vertical-align: top;
  display: inline-block;

}
.q_candidate_point {
  padding-top: 7px;
  font-size: 12px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.q_candidate_link_box {
  opacity: 0;
}
.q_item_candidate:hover .q_candidate_link_box{
  opacity: 1;
}
.q_candidate_link_box {
  background: rgba(10,10,10,0.8);
  color: white;
  position: absolute;
  left: -5px;
  bottom: -25px;
  padding: 4px;
  width: 60px;
  font-size: 12px;
  border-radius: 15px;
  z-index: 10;
}
.q_candidate_point_icon {
  font-size: 18px;
}
.q_item_candidate {
  text-align: center;
  width: 50px;
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.q_item_content {
  padding: 10px;
  border-top: 1px solid rgb(220,220,220);
  margin-top: 10px;
  border-left: 15px solid rgb(220,220,220);
}
.q_item_content_rheader {
  font-size: 30px;
  font-weight: 800;

}
.q_item_content_ricon {
  border: 5px solid rgb(55,53,54);
  color: rgb(55,53,54);
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;

}
@media screen and (max-width:1000px) {
  #content {
    margin-top: 110px;
  }
  .q_item_title_block, .q_item_candidate_block {
     width: 100%;
     box-sizing: border-box;
  }
  .q_item_title_block {
     margin-bottom: 5px;
  }
  .q_item_title_topic_name {
     width: auto;
  }
  .q_label_item_title {
    padding-top: 0px;
  }
  
  
}
@media screen and (max-width: 400px) {
  .q_label_item_title {
    padding-top: 0px;
  }
  .q_item_candidate{
    width: 40px;
  }
  .q_item_candidate_name {
    display: none;
  }
  .q_item_title_topic_name {
     width: auto;
  }
 
  
}
.bg_green {
  background: #4CAF50;
}
.bg_yellow {
  background: #FFAB00;
}
.bg_red {
  background: #e35656;
}
.bg_gray {
  background: rgb(200,200,200);
}
.text_green {
  color: #4CAF50;
}
.text_yellow {
  color: #FFEB3B;
}
.text_red {
  color: #F44336;
}

.button {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}

/* ------------------------------------------------------------ */
/* slider
/* ------------------------------------------------------------ */

.slider_wrap {
  position:relative;
  display: inline-block;
  margin-top: 18px;
  margin-right: 30px;
}
.slider_wrap input {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
}
.slider {
  position: relative;
  display: block;
  width: 2.5em;
  height: 1em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 300ms;
  background: #00695C;

}
/* active base */
input:checked + .slider {
  background: #ECEFF1;

}
/* toggle button */
.slider::before {
  position: absolute;
  content:'';
  width: 1.4em; height: 1.4em;
  top: -0.2em; left: -0.3em;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  background: #26A69A;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

}
.slider:hover::before {
  box-shadow: 0 0px 6px rgba(0,0,0,.12),0 4px 6px rgba(0,0,0,.24);
}
/* active button */
.slider::after {
  position: absolute;
  border-radius: 50%;
  transition: 200ms ease-in;
}
input:checked + .slider::before {
  left: 1.4em;
  background: white;
}
.slider_wrap label, .slider_wrap label::before, .slider_wrap label::after{
  color: black;
  z-index: 190;

}
/* ------------------------------------------------------------ */
/* iframe
/* ------------------------------------------------------------ */
@media screen and (max-width: 540px){
  iframe {
    width: 100%;
    height: 220px;
  }
}
/* ----------------------------------
     index
   ---------------------------------- */
.profile {
  display: inline-block;
  border: 5px solid #F3F2EF;
  width: 49%;
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .profile {
     width: 100%;
     margin-bottom: 10px;
  }
}
.profile_title {
  font-size: 40px;
  font-weight: 700;
  border-bottom: 3px solid #F3F2EF;
}
.profile_list {
  width: 100%;
  text-align: left;
}
.profile_count {
  font-size: 30px;
  color: #e35656;
  display: inline-block;
  font-weight: 800;
  margin-right: 5px;
  width: 50%;
  text-align: right;
}
.index_button {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #e35656;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 12px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
  margin-top: 10px;
}
/* ---- */
.index_c_item_block {
  margin: 20px auto;
  max-width: 700px;
  text-align: center;

}
.index_c_item {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.index_c_img {
  width: 112px;
}
.index_c_role {
  position: absolute;
  top: 136px;
  left: 4px;
  width: 112px;
  background: rgba(10,10,10,0.7);
  color: white;
  font-size: 12px;
  
}
.index_c_name {
  font-size: 16px;
  font-weight: 600;
}
.index_c_rate {
  font-size: 20px;
  font-weight: 700;
}


