<div class="nav_info_footer">
<div class="nav_info_btn" ><i class="fa fa-question"></i> 圖表說明</div>
    
        <div class="nav_info_list_p_footer">
            候選人在各個議題的回答比率 / 立場表態
        </div>
        <div class="nav_info_list_footer">
            <div class="nav_info_item_footer">
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_gray"> 0% </div>
            </div>
            </div>
            <div class="nav_info_item_text_footer">
                回答率 0%，顯示為灰色
            </div>
        </div>

        <div class="nav_info_list_footer">
            <div class="nav_info_item_footer">
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_red"> 1% </div>
            </div>
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_red"> 39% </div>
            </div>
            </div>
            <div class="nav_info_item_text_footer">
                回答率 1%-39%，顯示為紅色
            </div>
        </div>
        
        <div class="nav_info_list_footer">
            <div class="nav_info_item_footer">
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_yellow"> 40% </div>
            </div>
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_yellow"> 69% </div>
            </div>
            </div>
            <div class="nav_info_item_text_footer">
                回答率 40%-60%，顯示為橘色
            </div>
        </div>

        <div class="nav_info_list_footer">
            <div class="nav_info_item_footer">
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_green"> 70% </div>
            </div>
            <div class="nav_info_item_candidate">
                <div class="q_candidate_point bg_green"> 100% </div>
            </div>
            </div>
            <div class="nav_info_item_text_footer">
                回答率 70% 以上，顯示為綠色
            </div>
        </div>
        <div class="nav_info_list_p_footer">「野生版選舉公報」呈現的「問題分類」為沃草依據「市長，給問嗎？」平台上網友題目說明及整體題目狀況所整理，與給問網站分類略有出入。
        </div>
</div> 