<div ng-include="'partials/nav_index.html'"></div>
<div class="wrapper">
<!-- banner goes here -->
<p>選舉的時候我們都會拿到「選舉公報」，這是候選人要告訴我們的政見。</p>
<p>但是有時候，候選人沒說的事、不願正面回答的事情，或許才是我們需要注意的。（沒說的，可能比說了的更重要）。</p>
<p>透過「市長，給問嗎」平台半年多的運作，我們看到共同參與這個實驗過程的使用者，想問什麼？關心什麼？</p>
<p>而這，就像所有市民共同協作的一份「野生版選舉公報」。(￣y▽￣)╭</p>


<div class="profile">
	<div class="profile_title">台北市 Taipei</div>
    <div class="profile_list"><div class="profile_count">763</div>個問題被提出</div>
    <div class="profile_list"><div class="profile_count">41</div>個問題達到門檻</div>
    <div class="profile_list"><div class="profile_count">66,546</div>總連署數</div>
    <div class="profile_list"><div class="profile_count">30,745</div>個登入使用者</div>

</div>

<div class="profile">
   <div class="profile_title">台中市 Taichung</div>
   <div class="profile_list"><div class="profile_count">184</div>個問題被提出</div>
   <div class="profile_list"><div class="profile_count">44</div>個問題達到門檻</div>
   <div class="profile_list"><div class="profile_count">17,880</div>總連署數</div>
   <div class="profile_list"><div class="profile_count">3,448</div>個登入使用者</div>
</div>



</div><!-- end of wrapper -->


