

<div class="wrapper">
<div class="md-whiteframe-z1">
 <div class="q_item">

        <div class="q_item_title">title</div>
        <div class="q_item_candidate_block">
            <div class="q_item_candidate" ng-repeat="c in currentCandidates" >
                <div>{{candidates[c].name}}</div>
                <img class="c_img" ng-src="images/candidates_avatar/{{c}}.jpg">
            </div>
        </div>
 </div>

<div class="q_item" ng-repeat="(v,i) in issues">
    <div class="q_item_inner">
        <div class="q_item_title">{{v}} {{i.length}}</div>
        <div class="q_item_candidate_block">

              <div class="q_item_candidate" ng-repeat="c in currentCandidates" >
                  <div ng-if="candidates[c].issues[v].addressed" class="q_candidate_point" ng-class="candidates[c].issues[v].color">{{candidates[c].issues[v].ratio}}</div>
                  <span ng-if="!candidates[c].issues[v].addressed"> --- </span>
              </div>
        </div>
    </div>

 
    <div ng-repeat="q in i">
      <div class="q_item_inner">
        <div class="q_item_title">{{questions[q].title | limitTo:40}}</div>
        <div class="q_item_candidate" ng-repeat="c in currentCandidates" >
            
            <div class="q_candidate_point">
                <span ng-if="candidates[c].questions[questions[q].id]==='responded'" class="text_green">V</span>
                <span ng-if="candidates[c].questions[questions[q].id]==='pending'" class="text_red">X</span>
                <span ng-if="candidates[c].questions[questions[q].id]==='notasked'">---</span>
            </div>
             
        </div>
      </div>
    </div>
 
</div>

</div>
</div>




