<div ng-include="'partials/nav_index.html'"></div>
<div class="wrapper">
<!-- banner goes here -->
<p>選舉的時候我們都會拿到「選舉公報」，這是候選人要告訴我們的政見。</p>
<p>但是有時候，候選人沒說的事、不願正面回答的事情，或許才是我們需要注意的。（沒說的，可能比說了的更重要）。</p>
<p>透過「市長，給問嗎」平台半年多的運作，我們看到共同參與這個實驗過程的使用者，想問什麼？關心什麼？</p>
<p>而這，就像所有市民共同協作的一份「野生版選舉公報」。(￣y▽￣)╭</p>

<!-- candidate rank -->
<div class="index_c_item_block">
<div class="profile_title">候選人綜合排名</div>
<div class="index_c_item" ng-repeat="c in candidates | orderBy: 'ratio' : true">
    <div>回答率：<span class="index_c_rate">{{c.ratio}}%</span></div>
    <img class="index_c_img" ng-src="images/candidates/{{c.id}}.jpg">
    <div class="index_c_role">{{c.role}}</div>
    <div class="index_c_name">{{c.name}}</div>
    <div>{{c.party}}</div>
</div>
</div>

<!-- city profile -->
<div class="profile">
	<div class="profile_title_block">
    <div class="profile_title">台北市 Taipei</div>
    <div class"profile_meta">2014.02.22 - 2014.11.25</div>
  </div>
  <div class="profile_list"><div class="profile_count">768</div>個問題被提出</div>
  <div class="profile_list"><div class="profile_count">40</div>個問題達到門檻（門檻為 500 票）</div>
  <div class="profile_list"><div class="profile_count">32</div>個問題被回答</div>
  <div class="profile_list"><div class="profile_count">66,925</div>總連署數</div>
  <div class="profile_list"><div class="profile_count">30,912</div>個登入使用者</div>
  <div class="profile_list"><div class="profile_count">485,622</div>累積瀏覽人次</div>
  <div class="profile_list"><div class="profile_count">35,624</div>最高單日瀏覽人次</div>
  <a href="#/taipei"><div class="index_button"><i class="fa fa-search"></i> 台北公報</div></a>
 
    
</div>

<div class="profile">
  <div class="profile_title_block">
    <div class="profile_title">台中市 Taichung</div>
    <div class"profile_meta">2014.10.11 - 2014.11.25</div>
  </div>
   <div class="profile_list"><div class="profile_count">195</div>個問題被提出</div>
  <div class="profile_list"><div class="profile_count">44</div>個問題達到門檻（門檻為 200 票）</div>
  <div class="profile_list"><div class="profile_count">8</div>個問題被回答</div>
  <div class="profile_list"><div class="profile_count">18,439</div>總連署數</div>
  <div class="profile_list"><div class="profile_count">3,681</div>個登入使用者</div>
  <div class="profile_list"><div class="profile_count">44,378</div>累積瀏覽人次</div>
  <div class="profile_list"><div class="profile_count">2,682</div>最高單日瀏覽人次</div>
   <a href="#/taichung"><div class="index_button"><i class="fa fa-search"></i> 台中公報</div></a>
</div>



</div><!-- end of wrapper -->


